:root{
  --primary-color: #24388E;
}
body {
  font-size: 0.875rem;
  background-color: #ECECEC;
}
.btn-primary{
  background-color: var(--primary-color);
}
.sidebar {
  min-height: 100vh;
  background-color: #fff;
}
.sidebar .nav-link {
  color: #333;
}
.sidebar .nav-link:hover {
  background-color: #e9ecef;
}
.main-content {
  padding: 20px;
  flex-grow: 1;
}
.table th, .table td {
  vertical-align: middle;
}
.thead{
  background-color: var(--primary-color);
  color: #fff;
}

.table-wrapper {
  max-height: 400px; /* Adjust height as needed */
  overflow-y: auto;
  overflow-x: auto;
}
.table-fixed {
  min-width: 1000px; /* Adjust min-width as needed */
}

.header {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .dropdown-menu {
  min-width: auto;
}
.footer {
  background-color: #f8f9fa;
  padding: 10px 20px;
  text-align: center;
}